html,body,.container {
    margin:0px;
    height:100%;
    width: 100%;
}

.container {
    display: flex;

}
p {
    margin:0px;
    margin-bottom: 10px;
}
/* ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
    //display:inline-block; 
}

form ul li{
    display:inline-block;
} */


.left {
    position: relative;
    width:40%;
    /* margin-right:1em; */
}
.background-image {
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
}



/* form li + li {
    margin-top: 1em;
} */

.logo {
    height:100px;
    width:100px;
}

.pic-text {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
    font-family: roboto;
}

.right {
    width:100%;
    display: flex;
    gap:10px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#ffeac2;
    font-family:Arial;
 
}
.first-message{
    text-align:center;

}
form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* margin: 1em;; */
    /* width:600px; */
    /* padding: 1em; */
    /* border:1px solid red; */
    /* border-radius: 1em; */
    background-color:#e4ebcf;
    width:100%;
    box-shadow: 0px -25px 20px -30px rgba(0,0,0,0.45),
    0px 25px 20px -30px rgba(0,0,0,0.45);
    gap:0px;
    

}

label {
    
    text-align:left;
    display: inline-block;
    min-width: 90px;
    
  }
.form-section p{
    display:inline-block;
    
}

label, input {
    display:block;
}
p {
    padding-right:20px;
}

input  {
    border-radius: 3px;
    font-size:14px;
}
/* Styling for validations*/


input:invalid{
    border-color:red;
}

input:required {
    border:1px solid black;
}

input:optional {
    border:1px solid silver;
}
input:valid{
    border-color:black;
}
